@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
*{
	font-family: "OpenSans", sans-serif;
}
/* @font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
} */

body{
/* background: rgb(17,17,17); */
/* background:linear-gradient(to right,rgb(35, 193, 227),rgb(209, 73, 212)); */
/* height:90vh;
width:90%; */
justify-content: center;
text-align:center;
background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  /* background-size: cover; */
background-image: url( "/static/wave-haikei.svg" );
overflow:hidden;
height:1000px;
width:100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}


.prediction {
    position: relative;
    top: 25%;
    left: -10%;
    max-width:60%;
    height: auto;

}

h1{
text-align:center;
color: 	#7b68ee;
margin-bottom:30px;
margin-top:10px;
position: relative;
top: 17%;
left: 0%;

}

.form{
  position: relative;
  top: 20%;
  left: -23%;
}

.Input{
height:45px;
width:230px;
border:2px;
background:rgb(50,50,50);
border-bottom:1px solid #7b68ee;
font-size:19px;
color:white;
padding-left:8px;
position: relative;
top: 0%;
left: 20%;
font-family: "FontAwesome", "OpenSans";
}


::placeholder{
color:rgb(50,50,50);
font-size:20px;
padding-left:10px;

}

.pred-btn{
text-align:center;
height:60px;
width:150px;
font-size:25px;
background: #242424;
/* background:linear-gradient(to left top,rgb(35, 193, 227),rgb(209, 73, 212)100%); */
color:#CBD5E8;
border:2px solid #CBD5E8;
border-radius:30px;
position: relative;
top: 0%;
left: 25%;


}
.pred-btn:hover{
background: #7b68ee;
/* background:linear-gradient(to right,rgb(209, 73, 212),rgb(35, 193, 227)); */
color:white;
border:0px solid white;
}

select option{
color:#FAE7B5;
font-family: "FontAwesome", "OpenSans";
}

h3{
text-align:center;
/* color:#395F7D; */
color: white;
position: relative;
left: 0%;
top: 30%;
}

h2{
text-align:center;
/* color:#395F7D; */
color: white;
}

.model_desc{
width:300px;
color:white;
font-size:17px;
float:left;
font:Calibri;
padding:30px;
display:inline-box;
line-height: 1.1em;
position:relative;
height:300px;
text-align: left;
border-radius: 60% 40% 60% 40% / 23% 16% 84% 77% ;
/* border-top-left-radius:30px;
border-bottom-left-radius:30px;
border-bottom-right-radius:30px;
border-top-right-radius:30px; */
/* background:	#CBD5E8; */
/* background: linear-gradient(to bottom,#CBD5E8,rgb(17, 17, 17)); */
top: 30%;
left: 0%;
background: #242424;
}

footer {
  position: absolute;
  bottom:0;
  height: 2.5rem;
  justify-content: center;
  width: 100%;
  color: #fff;
}




/* @media screen and (max-width: 1110px) {
 body{
  background: rgb(17,17,17);
 }

.model_desc{
display: none;
  }

.model_desc2{
 display: inline-block;
width:auto;
color:white;
font-size:17px;
padding:10px;
line-height: 1.0em;
height:auto;
text-align: left;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
background:rgb(17, 17, 17);
margin:0;
}

.Input{
  margin-bottom: 5px;
}
.data_part {
   color:blue;
   width: 70%;
   height: auto;
   float: left;
   padding: 10px;
   margin-left: 85px;
   margin-top: 20px;
   margin-bottom: 30px;
   border-top-left-radius:30px;
   border-bottom-left-radius:30px;
   border-top-right-radius:30px;
   border-bottom-right-radius:30px;
  }

} */